<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="devmobile.tvshow" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_action_tv"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".activities.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ByShow"
            android:label="@string/byShow_pageTitle"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.BySeason"
            android:label="@string/bySeason_pageTitle"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ByEpisode"
            android:label="@string/byEpisode_pageTitle"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ByActor"
            android:label="@string/byActor_pageTitle"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity android:name=".activities.ByShow_Edition" >
        </activity>

        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

        <activity android:name=".alert.CreateSeasonDialogAlert" >
        </activity>
        <activity android:name=".alert.DeleteSeasonDialogAlert" >
        </activity>
        <activity android:name=".alert.CreateEpisodeDialogAlert" >
        </activity>
        <activity android:name=".alert.DeleteEpisodeDialogAlert" >
        </activity>
        <activity android:name=".alert.EditEpisodeDialogAlert" >
        </activity>
        <activity
            android:name=".activities.ByShow_Creation"
            android:label="@string/title_activity_by_show_creation"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
